{% extends 'payroll/base.html' %}
{% block title %}Vsu Employe Management system {% endblock %}
{% block body %}



<div class="card bg-dark text-dark">
    <img class="img-thumbnail" src="https://media.istockphoto.com/id/1179949911/photo/payroll-work-opportunities-finance-and-insurance-concept.jpg?s=612x612&w=0&k=20&c=EC2FcOd2V9Yozn2hCaP7kEWbcpY4VqmutYdK5d0nb8g=" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title display-3 text-center">Payroll management system</h1>
      <h5 class="card-text ">Running payroll is one of the most important responsibilities for business owners, but it doesn’t have to be the most stressful. With the right payroll management system, employers may be able to achieve peace of mind and find more time to focus on growing their business.</h5>
 
    </div>
  </div>


{% endblock %}